body 
{ 
	background-repeat: no-repeat;
	background-size: 1024px;
	background-color: #ACD; 
	font-family: Mono; 
	font-size: medium; 
}

#main 
{ 
	color: yellow; 
	width: 435px; 
	margin: 100px; 
	background-color: #AAA111; 
	font-size: 20px;
	border: solid black; 
}

#footer
{
  font-family: Times New Roman;
  font-style: italic;
  padding: 100px 50px 100px 1024px;
  font-size: 12px;
}

button
{
	font-size: 20px;
}

input[type=range]
{ 
  -webkit-appearance: none;
  background-color: #AAAA90;
}
